@use 'src/styles/vars';

.animalModification {
  margin: 5rem auto 0;
  padding-top: 1rem;
  font-family: vars.$avenir;

  h1 {
    font-size: 6rem;
    text-align: center;
    margin-bottom: 2rem;
    width: 100%;
    color: vars.$footerColor;
  }

  h2 {
    color: vars.$footerColor;
    font-weight: bold;
    font-size: 3rem;
    text-align: center;
    width: 100%;
    margin-top: 5rem;
    margin-bottom: 1rem;
  }

  .updateFail {
    color: red;
    font-weight: bold;
    text-align: center;
    margin: 1.5rem;
  }

  .updateSuccess {
    color: rgb(21, 190, 21);
    font-weight: bold;
    text-align: center;
    margin: 1.5rem;
  }

  form {
    background-color: #fff;
    margin: 0 10rem;
    display: flex;
    flex-wrap: wrap;
    padding: 1rem vars.$gutter;
    margin: vars.$gutter auto;
    background-color: vars.$secondaryTextColor;
    border: 2px solid vars.$footerColor;
    border-radius: 20px;
    box-shadow: vars.$cardShadow;
    width: 80%;
    transform-origin: 0 0;
    transition: vars.$transition;

    .field {
      width: 100%;
      display: flex;
      flex-direction: column;
  
      label {
        color: vars.$footerColor;
        margin: vars.$gutter 0;
      }

      &.field-name,
      &.field-birthdate,
      &.field-picture {
        label {
          margin-top: 1rem;
          width: 100%;
          color: vars.$footerColor;
        }

        input {
          width: 100%;
          padding: .7em;
          font-size: 1.7rem;
          border: 1px solid vars.$footerColor;
          border-radius: .3em;
          height: 2.5em;
          margin-top: 0.5em;
          margin-bottom: 1em;

          &:focus {
            border-color: #f17f42;
          }
        }
      }

      &.field-picture {
        input {
          border: unset;
        }
      }

      &.field-race {
        label {
          width: 100%;
          color: vars.$footerColor;
        }

        select {
          width: 100%;
          padding: .7em;
          font-size: 1.7rem;
          border: 1px solid vars.$footerColor;
          border-radius: .3em;
          height: 2.5em;
          margin-top: 0.5em;
          margin-bottom: 1em;

          &:focus {
            border-color: #f17f42;
          }
        }
      }

      &.field-bio {
        label {
          width: 100%;
          color: vars.$footerColor;
        }

        textarea {
          resize: vertical;
          height: 10rem;
          width: 100%;
          font-size: 1.5rem;
          font-family: vars.$avenir;
          padding: .2em;
          font-size: 1.7rem;
          border: 1px solid vars.$footerColor;
          border-radius: .3em;
          margin-top: 0.5em;
          margin-bottom: 1em;

          &:focus {
            border-color: #f17f42;
          }
        }
      }


      &.field-adopted,
      &.field-gender,
      &.field-species,
      &.field-cohabitation {
        p {
          width: 100%;
          color: vars.$footerColor;
        }

        label {
          margin: 1rem 0 0;

          &:first-of-type {
            margin-top: 1rem;
          }

          &:last-of-type {
            margin-bottom: 2rem;
          }
        }

        input {
          margin-right: 1rem;
          height: 20px;
          width: 20px;
        }
      }
    }

    .picture {
      width: 100%;
      text-align: center;
      margin-bottom: 2rem;

      .shelter-image {
        height: 400px;
      }
    }
  }

  button {
    background-color: vars.$footerColor;
    color: vars.$secondaryTextColor;
    font-weight: 700;
    font-size: 1rem;
    border-radius: 0.3em;
    border: 0;
    padding: 1rem;
    height: 3rem;
    margin: auto;
    margin-bottom: 1rem;

    &:hover,
    &:focus {
      background-color: vars.$outlineColor;
    }
  }

  .backToList {
    text-align: center;
  }
}

@media (max-width: 700px) {

}
