@use 'src/styles/vars';

.shelterModification {
  margin: 5rem auto 0;
  padding-top: 1rem;
  font-family: vars.$avenir;

  h1 {
    font-family: vars.$pomme;
    font-size: 6rem;
    text-align: center;
    margin-bottom: 2rem;
    width: 100%;
  }

  h2 {
    color: vars.$footerColor;
    font-weight: bold;
    text-align: center;
    width: 100%;
  }

  .updateFail {
    color: red;
    font-weight: bold;
    text-align: center;
    margin: 1.5rem;
  }

  .updateSuccess {
    color: rgb(21, 190, 21);
    font-weight: bold;
    text-align: center;
    margin: 1.5rem;
  }

  .modificationForm {
    display: flex;
    flex-wrap: wrap;
    padding: 1rem vars.$gutter;
    margin: vars.$gutter auto;
    background-color: vars.$secondaryTextColor;
    border: 2px solid vars.$footerColor;
    border-radius: 20px;
    box-shadow: vars.$cardShadow;
    width: 60%;
    transform-origin: 0 0;
    transition: vars.$transition;

    .field {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      font-family: vars.$avenir;
      font-size: 1.2rem;
      line-height: 2rem;

      label {
        width: 100%;
        color: vars.$footerColor;
      }

      input {
        width: 100%;
        padding: .7em;
        font-size: 1rem;
        border: 1px solid vars.$footerColor;
        border-radius: .3em;
        height: 2.5em;
        margin-top: 0.2em;
        margin-bottom: 1em;

        &:focus {
          border-color: #f17f42;
        }
      }

      &.field-picture {
        margin-bottom: 0.5rem;

        input {
          border: unset;

          &:focus {
            border: 3px solid #f17f42;
          }
        }
      }
    }

    .changePassword {
      color: vars.$footerColor;
      text-decoration: underline;
      font-size: 1.2rem;
      margin: 1rem 0;
      padding: unset;
      padding-left: 0.1rem;
      border: unset;
      background-color: vars.$secondaryTextColor;

      &:hover,
      &:focus {
        color: #f17f42;
      }
    }

    .saveChanges {
      background-color: vars.$footerColor;
      color: vars.$secondaryTextColor;
      font-weight: 700;
      font-size: 1rem;
      border-radius: 0.3em;
      border: 0;
      padding: 1rem;
      height: 3rem;
      margin: auto;
      margin-bottom: 1rem;

      &:hover,
      &:focus {
        background-color: vars.$outlineColor;
      }
    }
  }

  .error {
    margin: 0 auto 1rem;
    color: vars.$footerColor;
    font-size: 1.2rem;
    font-weight: bold;
    line-height: normal;
  }

  .back-delete {
    display: flex;
    justify-content: space-between;
    margin: 0 20%;
  }

  .backList {
    font-weight: 700;
    font-size: 1rem;
    color: vars.$secondaryTextColor;
    background-color: vars.$footerColor;
    border-radius: 0.3em;
    border: 0;
    padding: 1rem;
    height: 3rem;
    
    &:hover,
    &focus {
      background-color: vars.$outlineColor;
    }
  }

  .deleteAccount {
    font-weight: 700;
    font-size: 1rem;
    color: vars.$secondaryTextColor;
    background-color: red;
    border-radius: 0.3em;
    border: 0;
    padding: 1rem;
    height: 3rem;
    
    &:hover,
    &focus {
      background-color: rgb(253, 132, 132);
    }
  }

  .overlay {
    position: fixed; /* Sit on top of the page content */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    display: flex;
    justify-content: center;

    @media (max-width: 1200px) {
      display: block;
    }

    .field {
      width: 60%;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      font-family: vars.$avenir;
      font-size: 1.2rem;
      line-height: 2rem;
      margin: 1rem auto -1rem;

      label {
        width: 100%;
        color: vars.$footerColor;
      }

      input {
        width: 100%;
        padding: .7em;
        font-size: 1rem;
        border: 1px solid vars.$footerColor;
        border-radius: .3em;
        height: 2.5em;
        margin-top: 0.2em;
        margin-bottom: 1em;

        &:focus {
          border-color: #f17f42;
        }
      }
    }

    .successReg {
      align-self: center;
      background-color: rgba(246, 244, 210);
      border: 3px solid vars.$footerColor;
      height: 50%;
      width: 60%;
      text-align: center;
      font-family: vars.$avenir;
      padding-top: 1rem;
      
      @media (max-width: 1200px) {
        margin: 20% auto 0;
        height: 55%;
      }

      @media (max-width: 750px) {
        margin: 5% auto 0;
        height: 90%;
      }

      @media (min-width: 1650px) {
        height: 43%;
      }

      p {
        font-size: 1.5rem;
        margin-bottom: 0.5rem;

        @media (max-width: 750px) {
          &:nth-child(2),
          &:nth-child(3) {
            display: none;
          }
          font-size: 1.1rem;
        }
      }

      button {
        font-weight: 700;
        font-size: 1rem;
        color: vars.$secondaryTextColor;
        background-color: red;
        border-radius: .3em;
        border: 0;
        padding: 0.7em;
        height: 2.5em;
        margin: 2em;

        &.cancel-button {
          margin-top: unset;
          background-color: vars.$footerColor;
        }

        @media (max-width: 750px) {
          font-size: 0.8rem;
        }

        &:hover {
          background-color: vars.$outlineColor;
        }
      }
    }
  }
}

@media (max-width: 700px) {
  .shelterModification {
    .modificationForm {
      width: 80%;
    }

    .backList {
      margin-left: 10%;
    }
  }
}
