@use 'src/styles/vars';

.shelterModification {
  margin: 5rem auto 0;
  padding-top: 1rem;
  font-family: vars.$avenir;

  h1 {
    font-family: vars.$pomme;
    font-size: 6rem;
    text-align: center;
    margin-bottom: 2rem;
    width: 100%;
  }

  h2 {
    color: vars.$footerColor;
    font-weight: bold;
    text-align: center;
    width: 100%;
  }

  .modificationForm {
    display: flex;
    flex-wrap: wrap;
    padding: vars.$gutter;
    margin: vars.$gutter auto;
    background-color: vars.$secondaryTextColor;
    width: 60%;
    transform-origin: 0 0;
    transition: vars.$transition;

    .field {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      font-family: vars.$avenir;
      font-size: 1.2rem;
      line-height: 2rem;

      label {
        width: 100%;
        color: vars.$footerColor;
      }

      input {
        width: 100%;
        padding: .7em;
        font-size: 1rem;
        border: 1px solid vars.$footerColor;
        border-radius: .3em;
        height: 2.5em;
        margin-top: 0.2em;
        margin-bottom: 1em;

        &:focus {
          border-color: #f17f42;
        }
      }

      &.field-picture {
        margin-bottom: 0.5rem;

        input {
          border: unset;

          &:focus {
            border: 3px solid #f17f42;
          }
        }
      }
    }

    .saveChanges {
      background-color: vars.$fifthColor;
      transition: all .25s, visibility .25s ease-in;
      color: vars.$footerColor;
      font-weight: 700;
      font-size: 1rem;
      border-radius: 0.3em;
      border: 1px solid #869634;
      padding: 1rem;
      height: 3rem;
      width: 100%;

      &:hover,
      &:focus {
        background-color: #869634;
        transition: all .25s, visibility .25s ease-in;
        color: vars.$mainTextColor;
      }
    }
  }

  .backList {
    font-weight: 700;
    font-size: 1rem;
    color: vars.$secondaryTextColor;
    background-color: vars.$footerColor;
    border-radius: 0.3em;
    border: 0;
    padding: 1rem;
    height: 3rem;
    margin-left: 20%;
    
    &:hover,
    &focus {
      background-color: vars.$outlineColor;
    }
  }

}

@media (max-width: 700px) {
  .shelterModification {
    .modificationForm {
      width: 80%;
    }

    .backList {
      margin-left: 10%;
    }
  }
}

/*
.shelterModification {
  flex: 1;
  margin-top: 5rem;
  background: vars.$backgroundColor;

  .shelter-info {
    display: flex;
    flex-direction: row;
    align-items: center;

    .shelter-image {
      width: 50%;
      height: auto;
      object-fit: cover;
      margin: 1em;
    }

    .shelter-characteristics {
      font-family: vars.$avenir;
      font-size: 0.8em;
      line-height: 2em;

      span {
        font-weight: 900;
        color: vars.$footerColor;
      }

      h1 {
        font-family: vars.$pomme;
        text-align: center;
        font-size: 5rem;
        color: vars.$footerColor;
        margin-bottom: 3rem;
      }
    }

    .shelter-button {
      font-weight: 700;
      font-size: 1rem;
      color: vars.$secondaryTextColor;
      background-color: vars.$footerColor;
      border-radius: 0.3em;
      border: 0;
      padding: 1rem;
      height: 3rem;
      margin: vars.$gutter;

      &:hover {
        background-color: vars.$outlineColor;
      }
    }
  }

  .shelter-animals {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;

    .shelter-animals-image {
      width: 300px;
      height: 200px;
      object-fit: cover;
      margin: 1em;
      transform-origin: 0 0;
      transition: vars.$transition;

      &:hover {
        //opacity: 0.7;
        transform: scale(1.1);
      }
    }
  }
}

@media (max-width: 700px) {
  .shelter {
    .shelter-info {
      display: flex;
      flex-direction: column;

      .shelter-image {
        width: 90%;
      }

      .shelter-characteristics {
        margin: 1rem;
      }
    }
  }
}

*/
