@use 'src/styles/vars';

.animal {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 2em;
  font-family: vars.$avenir;
  font-size: 0.7em;
  background-color:vars.$backgroundColor;
  margin-top: 5rem;

  .animal-image {
    width: 50%;
    height: auto;
    max-height: 80vh;
    margin-right: vars.$gutter;
    object-fit: cover;
  }

  .animal-aside {
    .animal-name {
      font-family: vars.$pomme;
      font-size: 8rem;
      margin-bottom: 1.8rem;
      color: vars.$footerColor;
    }

    .animal-shelter {
      margin-bottom: 1em;
      line-height: vars.$lineHeight;

      .animal-shelter-published {
        font-style: italic;
      }

      .animal-shelter-link {
        font-size: 1.5em;
        font-weight: 900;
        color: vars.$footerColor;

        &:hover {
          color: vars.$outlineColor;
        }
      }
    }

    .animal-info {
      display: flex;
      flex-direction: column;
      margin-right: 2em ;
      line-height: vars.$lineHeight;

      .animal-bullet {
        height: 40px;
        vertical-align: middle;
      }

      span {
        font-weight: 900;
        color: vars.$footerColor;
      }
    }

    .animal-description {
      width: 100%;
      margin-top: 1rem;
    }
  }
}

@media (max-width: 850px) {
  .animal {
    display: flex;
    flex-direction: column;
    align-items: center;

    .animal-image {
      width: 100%;
      margin-bottom: 1rem;
    }

    .animal-aside {
      display: flex;
      flex-direction: column;
      align-items: center;

      .animal-info {
        flex-direction: column;
        text-align: center;
        line-height: 3rem;

        .animal-description {
          line-height: vars.$lineHeight;
        }
      }
    }
  }
}
