@use 'src/styles/vars';

.animal {
  display: flex;
  flex-direction: row;
  padding: 2em;
  font-family: 'Avenir', sans-serif;
  font-size: 0.7em;
  background-color:vars.$backgroundColor;
  background: rgba(246, 244, 210, 0.5);
  margin-top: 5rem;

  .animal-image {
    width: 50%;
    height: auto;
    margin-right: 2em;
    object-fit: cover;
    
  }
  .animal-aside {
    .animal-shelter {
      margin-bottom: 1em;
      line-height: 2rem;
      .animal-shelter-link {
        font-size: 1.5em;
        font-weight: 900;
      }

    }
    .animal-info {
      display: flex;
      flex-direction: row;
      align-items: center;

      .animal-characteristics {
        margin-right: 2em ;
        span {
          font-weight: 900;
        }

        .animal-name {
          font-family: vars.$pomme;
          font-size: 4em;
          margin: 2rem 0;
        }

      }
      .animal-description {
        width: 100%;
      }

    }
    
  }
}
@media (max-width: 850px) {
  .animal {
    display: flex;
    flex-direction: column;
    align-items: center;

    .animal-image {
      width: 100%;
      margin-bottom: 1rem;
    }

    .animal-aside {
      display: flex;
      flex-direction: column;
      align-items: center;
      .animal-info {
        flex-direction: column;
        text-align: center;
        line-height: 3rem;

        .animal-description {
          line-height: 2rem;
        }
      }
    }
  }
}
