// == Colors

$backgroundColor: #f6f4d2;
$navColor : #cbdfbd;
$footerColor : #a44a3f;
$outlineColor : #f19c79;
$fifthColor : #d4e09b;

// == Text colors
$mainTextColor : #000;
$secondaryTextColor : #fff;
$thirdTextColor : #cbdfbd;

// == Margin-Padding
$gutter: 2rem;

