// == Colors

$backgroundColor: #f6f4d2;
$navColor : #cbdfbd;
$footerColor : #a44a3f;
$outlineColor : #f19c79;

// == Text colors
$mainTextColor : #000;
$footerTextColor : #fff;
$thirdTextColor : #cbdfbd;

// margin-padding
$gutter: 2rem;

