@use 'reset';
@use 'vars';

body {
  font-family: 'Monsieur-Pomme', sans-serif;
  font-size: 2em;
}

@font-face {
  font-family: 'Monsieur-Pomme';
  src: url('../assets/fonts/Monsieur-Pomme.otf');
}

@font-face {
  font-family: 'Metropolis';
  src: url('../assets/fonts/Metropolis-Light.otf');
}



/* 
  // or you can import your own font
  @font-face {
    font-family: 'Roboto';
    src: url('../assets/fonts/Roboto-Regular.ttf');
  }

  body {
    font-family: 'Roboto', sans-serif;
  }
*/
