@use 'reset';
@use 'vars';

body {
  font-family: 'Monsieur-Pomme', sans-serif;
  font-size: 2em;
}

@font-face {
  font-family: 'Monsieur-Pomme';
  src: url('../assets/fonts/Monsieur-Pomme.otf');
}

@font-face {
  font-family: 'Avenir';
  src: url('../assets/fonts/avenir-lt-std-45-book.otf');
}
