@use 'src/styles/vars';

.legalmentions {
  flex: 1;
  margin-top: 5rem;
  font-family: vars.$avenir;
  padding: 3rem;
  font-size: 1.5rem;
  background: vars.$backgroundColor;

  h2 {
    font-weight: bold;
    text-decoration: underline;
    padding-top: vars.$gutter;
    padding-bottom: 1rem;
    color: vars.$footerColor;
  }

  a {
    color: vars.$footerColor;

    &:hover {
      color: vars.$outlineColor;
    }
  }
}
