 @use 'src/styles/vars';

.app {
  width: 100%;
  display: flex;
	flex-direction: column;
	min-height: 100vh;

  @media (max-width: 700px) {
    #page-wrap {
      text-align: center;
      overflow: auto;
      top: 45%;
      position: relative;
    }
  }
}



