@use 'src/styles/vars';

.loginfield-form {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Avenir', sans-serif;
  padding: 4rem;
  margin-top: 5rem;
  background-color: vars.$backgroundColor;

  .loginfield-form-element {
    text-align: center;
    background-color: #fff;
    border: 2px solid vars.$footerColor;
    border-radius: 2%;
    box-shadow: 5px 5px 1px 1px rgba(153, 107, 107, 0.2);
    


    .loginfield-form-button {
      font-weight: 700;
      font-size: 1rem;
      color: #fff;
      background-color: vars.$footerColor;
      border-radius: 0.3em;
      border: 0;
      padding: 1rem;
      height: 3rem;
      margin: 2rem;
    }
    
    .login-error {
      color: vars.$footerColor;
      font-weight: bold;
      margin: vars.$gutter;
      font-size: 1.5rem;
    }
  }

}




