@use 'src/styles/vars';

.loginfield-form {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: vars.$avenir;
  padding: 4rem;
  margin-top: 5rem;
  background-color: vars.$backgroundColor;

  .loginfield-form-element {
    text-align: center;
    background-color: #fff;
    border: 2px solid vars.$footerColor;
    border-radius: 2%;
    box-shadow: vars.$cardShadow;

    .loginfield-form-title {
      font-family: vars.$pomme;
      margin: 1rem;
      font-size: 5rem;
      color: vars.$footerColor;
    }

    .loginfield-form-button {
      font-weight: 700;
      font-size: 1rem;
      color: #fff;
      background-color: vars.$footerColor;
      border-radius: 0.3em;
      border: 0;
      padding: 1rem;
      height: 3rem;
      margin: vars.$gutter;

      &:hover {
        background-color: vars.$outlineColor;
      }
    }

    .login-error {
      color: vars.$footerColor;
      font-weight: bold;
      margin: vars.$gutter;
      font-size: 1.5rem;
    }
  }
}
