@use 'src/styles/vars';

.loginfield {
  text-align: center;
  margin-top: 1em;
}
.loginfield-input {
  width: 80%;
  padding: .7em;
  font-size: 1em;
  border: 3px solid vars.$footerColor;
  border-radius: .3em;
  height: 2.5em;
  margin-top: 0.2em;
  margin-bottom: 1em;
}
.loginfield-input:focus {
  border-color: #f17f42;
}
.loginfield-input:focus + .field-label {
  color: vars.$outlineColor;
}

.loginfield--has-content .field-label {
  display: block;
}

.loginfield--has-content .field-input {
  padding: 1.4em .7em .4em;
}

.loginfield-label {
  color: vars.$footerColor;
  font-size: 1.3em;
}

