@use 'src/styles/vars';

.register-shelter-form {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center; 
  font-family: 'Avenir', sans-serif;

  .register-shelter-form-element {
    text-align: center;

    .register-shelter-form-title {
      font-family: vars.$pomme;
      margin: 1rem;
      font-size: 5rem;
    }

    .register-shelter-form-button {
      font-weight: 700;
      font-size: 1rem;
      color: #fff;
      background-color: vars.$footerColor;
      border-radius: .3em;
      border: 0;
      padding: 0.7em;
      height: 2.5em;
      margin: 2em;
    }
  }
}
