@use 'src/styles/vars';

.register-shelter-form {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center; 
  font-family: 'Avenir', sans-serif;
  margin-top: 5rem;

  .register-shelter-form-element {
    text-align: center;
    background-color: #fff;
    border: 2px solid vars.$footerColor;
    border-radius: 1%;
    box-shadow: 5px 5px 1px 1px rgba(153, 107, 107, 0.2);
    margin: 2rem;
    padding: 3rem;

    .register-shelter-form-title {
      font-family: vars.$pomme;
      margin: 1rem;
      font-size: 5rem;
      color: vars.$footerColor;
    }

    .register-shelter-form-button {
      font-weight: 700;
      font-size: 1rem;
      color: #fff;
      background-color: vars.$footerColor;
      border-radius: .3em;
      border: 0;
      padding: 0.7em;
      height: 2.5em;
      margin: 2em;
    }
  }
}
