@use 'src/styles/vars';

.about {
  flex: 1;
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 2rem;
  min-height: 100vh;
  font-family: vars.$avenir;
  background: rgba(246, 244, 210, 0.5);
  margin-top: 5rem;
  background-image: url("../../assets/images/AboutPawBrown.png");

  h2 {
    font-family: vars.$pomme;
    font-size: 5rem;
    padding-left: 1rem;
  }

  h3 {
    font-size: 1.5rem;
    padding-left: 1rem;
  }

  .Laura-name {
    padding-left: 2rem;
  }

  .linkedin {
    height: 40px;
    padding-left: 1rem;
    margin-top: 1rem;
    transform-origin: 0 0;
    transition: transform .25s, visibility .25s ease-in;

    &:hover {
      transform: scale(1.1);
    }
  }


  .about-picture1 {
    display: flex;
    position: absolute;
    top: 10%;
    left: 15%;

  }

  .about-picture2 {
    display: flex;
    position: absolute;
    right: 15%;
    top: 35%;

    .Kevin-name {
      margin-right: 1rem;
    }
    .Kevin-job {
      padding-left: 4rem;
    }
    .Kevin-linkedin {
      padding-left: 10rem;
    }
  }

  .about-picture3 {
    display: flex;
    position: absolute;
    left: 35%;
    bottom: 15%;

    
  }

  .picture {
    width:150px;
    height: 150px;
    border-radius:50%;
    object-fit: cover;
    border: solid 2px vars.$footerColor;
    box-shadow: 7px 5px 8px 1px rgba(0, 0, 0, .2);
    transform-origin: 0 0;
    transition: transform .25s, visibility .25s ease-in;
    &:hover {
      transform: scale(1.05);
    }
  }
}

@media (max-width: 800px) {
  .about {
    position: static;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: none;
    
    .about-picture1 {
      position: static;
    }
    .about-picture2 {
      position: static;
      margin-top: 6rem;
    }
    .about-picture3 {
      position: static;
      margin-top: 6rem;
    }
  }
}
