@use 'src/styles/vars';

.registerfield {
  text-align: center;
  margin-top: 1em;
}

.registerfield-input {
  width: 100%;
  padding: .7em;
  font-size: 1rem;
  border: 3px solid vars.$footerColor;
  border-radius: .3em;
  height: 2.5em;
  margin-top: 0.2em;
  margin-bottom: 1em;
}

.registerfield-input:focus {
  border-color: #f17f42;
}

.registerfield-input:focus+.field-label {
  color: vars.$outlineColor;
}

.registerfield--has-content .field-label {
  display: block;
}

.registerfield--has-content .field-input {
  padding: 1.4em .7em .4em;
}

.registerfield-label {
  color: vars.$footerColor;
  font-size: 1.3rem;
  display: block;
}
