@use 'src/styles/vars';

.home {

  min-height: 100vh;
  background-color:vars.$backgroundColor;
  background: rgba(246, 244, 210, 0.5);
  //background-image: radial-gradient(ellipse at 0% 0%,  #cbdfbd, #f6f4d2 );
  padding-bottom: 2em;

  .banner {
    width: 100%;
    height: 40vh;
    background-image: url("../../assets/images/cat-5778777_1920V2.jpg");
    background-size: cover;
    background-position: center;
    margin-bottom: 1em;
  }
  .title {
    color: vars.$secondaryTextColor;
    text-align: center;
    font-size: 3em;
    position: relative;
    top: 70%;
  }

  .subtitle {
    text-align: center;
    font-size: 1.5em;
  }

  .thumbnails {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

  
  
    .thumbnails-image {
      width:200px;
      height: 200px;
      border-radius:50%;
      margin: 2rem;
      object-fit: cover;
      border: solid 2px vars.$footerColor;
      box-shadow: 7px 5px 8px 1px rgba(0, 0, 0, .2);

    }
    }

}
