@use 'src/styles/vars';

.home {

  min-height: 100vh;
  // background-color:#f3ecec;
  background-image: radial-gradient(ellipse at 0% 0%,  #cbdfbd, #f6f4d2 );
  padding-bottom: 2em;

  .banner {
    width: 100%;
    height: 40vh;
    background-image: url("../../assets/images/cat-5778777_1920V2.jpg");
    background-size: cover;
    background-position: center;
    margin-bottom: 1em;
  }
  .title {
    color: vars.$secondaryTextColor;
    text-align: center;
    font-size: 3em;
    position: relative;
    top: 70%;
  }

  .subtitle {
    text-align: center;
    font-size: 1.5em;
  }

  .thumbnails-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .thumbnails {
    width:200px;
    height: 200px;
    border-radius:50%;
    margin: 2rem;
    object-fit: cover;
  }

}
