@use 'src/styles/vars';

.home {

  min-height: 100vh;
  background: rgba(246, 244, 210, 0.5);
  padding-bottom: 2em;
  margin-top: 5rem;

  .banner {
    width: 100%;
    height: 40vh;
    background-image: url("../../assets/images/cat-5778777_1920V2.jpg");
    background-size: cover;
    background-position: center;
    margin-bottom: 1em;
  }
  .title {
    color: vars.$secondaryTextColor;
    text-align: center;
    font-size: 3em;
    position: relative;
    top: 70%;
  }

  .subtitle {
    text-align: center;
    font-size: 4rem;
    text-shadow: 3px 2px 1px rgba(0, 0, 0, .2);
    color: vars.$footerColor;
    margin: 3rem;
  }

  .description {
    font-family: vars.$avenir;
    font-size: 1.2rem;
    margin: 2rem;
    border: 2px solid vars.$footerColor;
    border-left-width: 5px;
    box-shadow: 5px 5px 1px 1px rgba(0, 0, 0, .2);
    border-radius: 3px;
    padding: 2rem;
    position: relative;

    .description-image {
      position: absolute;
      bottom: -15%;
      right: 1%;
      height: 60px;
      transform: rotate(-25deg);

    }
  }

  .thumbnails {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;


  
  
    .thumbnails-image {
      width:200px;
      height: 200px;
      border-radius:50%;
      margin: 2rem;
      object-fit: cover;
      border: solid 2px vars.$footerColor;
      box-shadow: 7px 5px 8px 1px rgba(0, 0, 0, .2);
      transform-origin: 0 0;
      transition: transform .25s, visibility .25s ease-in;
      &:hover {
        transform: scale(1.1);
      }
   
    }
    }

}
