@use 'src/styles/vars';

.shelter { 
  flex: 1;
  h1 {
    text-align: center;
    font-size: 2em;
    margin: .3em;
  }
  .shelter-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    .shelter-image {
      width: 50%;
      height: auto;
      object-fit: cover;
      margin: 1em;

    }
    .shelter-characteristics {
      font-family: vars.$avenir;
      font-size: 0.8em;
      line-height: 2em;
      span {
        font-weight: 900;
      }
    }

    .shelter-button {
      font-weight: 700;
      font-size: 1rem;
      color: #fff;
      background-color: vars.$footerColor;
      border-radius: 0.3em;
      border: 0;
      padding: 1rem;
      height: 3rem;
      margin: 2rem;
    }

  }

  .shelter-animals {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;

    .shelter-animals-image {
      width: 300px;
      height: 200px;
      object-fit: cover;
      margin: 1em;
    }
  }  
}
