@use 'src/styles/vars';

.shelterslist {
  flex: 1;
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: vars.$backgroundColor;


  h1 {
    text-align: center;
    color: vars.$footerColor;
    font-size: 5rem;
    margin: 2rem;
  }

  .card-link {
    display: flex;
    justify-content: center;


    .card {
      display: flex;
      padding: 2rem;
      margin-bottom: 2rem;
      border: 2px solid vars.$footerColor;
      box-shadow: 5px 5px 1px 1px rgba(0, 0, 0, .2);
      background-color: #fff;
      border-radius: 10px;
      width: 70%;
      transform-origin: 0 0;
      transition: transform .25s, visibility .25s ease-in;

      .image {
        height: 400px;
        width: 50%;
        object-fit: cover;
        margin-right: 2rem;
      }
    
      .card-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-family: vars.$avenir;
        font-size: 1.2rem;
        line-height: 3rem;

        span {
          color: vars.$footerColor;
          font-weight: bold;
        }
    
        h3 {
          font-family: vars.$pomme;
          font-size: 4rem;
          color: vars.$footerColor;
          padding: 2rem 0;
        }
        
      }

      &:hover {
          transform: scale(1.02);
        }
    }
  
  }
 
}
