@use 'src/styles/vars';

.shelterslist {
  flex: 1;
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: vars.$backgroundColor;

  h1 {
    text-align: center;
    color: vars.$footerColor;
    font-size: 5rem;
    margin: vars.$gutter;
  }

  .card-link {
    display: flex;
    justify-content: center;

    .card {
      display: flex;
      padding: vars.$gutter;
      margin-bottom: vars.$gutter;
      border: 2px solid vars.$footerColor;
      box-shadow: vars.$cardShadow;
      background-color: vars.$secondaryTextColor;
      border-radius: 10px;
      width: 70%;
      transform-origin: 0 0;
      transition: vars.$transition;

      .image {
        height: 400px;
        width: 50%;
        object-fit: cover;
        margin-right: vars.$gutter;
      }

      .card-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-family: vars.$avenir;
        font-size: 1.2rem;
        line-height: 3rem;

        span {
          color: vars.$footerColor;
          font-weight: bold;
        }

        h3 {
          font-family: vars.$pomme;
          font-size: 4rem;
          color: vars.$footerColor;
          padding: 2rem 0;
        }
      }

      &:hover {
        transform: scale(1.02);
      }
    }
  }
}

@media (max-width: 800px) {
  .shelterslist {
    .card-link {
      .card {
        display: flex;
        flex-direction: column;

        .image {
          height: 200px;
          width: 100%;
        }

        h3 {
          text-align: center;
        }
      }
    }
  }
}
