@use 'src/styles/vars';

.register-form {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center; 
  font-family: 'Avenir', sans-serif;
}
.register-form-element {
  text-align: center;
}
.register-form-title {
  font-family: vars.$pomme;
  margin: 1rem;
  font-size: 5rem;
}
.register-form-message {
  text-align: right;
  margin: .3em 1em;
}
.register-form-logged {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.register-form-button {
  font-weight: 700;
  font-size: 1rem;
  color: #fff;
  background-color: vars.$footerColor;
  border-radius: .3em;
  border: 0;
  padding: 0.7em;
  height: 2.5em;
  margin: 2em;
}
