@use 'src/styles/vars';

.register-form {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: vars.$avenir;
  margin-top: 5rem;
  background-color: vars.$backgroundColor;

  .register-form-element {
    text-align: center;
    background-color: vars.$secondaryTextColor;
    border: 2px solid vars.$footerColor;
    border-radius: 2%;
    box-shadow: 5px 5px 1px 1px rgba(153, 107, 107, 0.2);
    margin: vars.$gutter;
    padding: vars.$gutter;

    @media (min-width: 800px) {
      max-width: 50%;
      min-width: 50%;  
    }
  
    p {
      font-size: 1rem;
      text-align: left;
      margin: 0.5rem 0;
    }

    ul {
      font-size: 1rem;
      text-align: left;
      list-style: circle;

      li {
        margin-bottom: 0.2rem;
        margin-left: 1.3rem;
      }
    }

    .register-form-title {
      font-family: vars.$pomme;
      margin: 1rem;
      font-size: 5rem;
      color: vars.$footerColor;
    }

    .register-form-button {
      font-weight: 700;
      font-size: 1rem;
      color: vars.$secondaryTextColor;
      background-color: vars.$footerColor;
      border-radius: .3em;
      border: 0;
      padding: 0.7em;
      height: 2.5em;
      margin: 2em;

      &:hover {
        background-color: vars.$outlineColor;
      }
    }
  }

  .error {
    margin: 0 auto;
    color: vars.$footerColor;
    font-size: 1.5rem;
    font-weight: bold;
  }
}
