@use 'src/styles/vars';

.footer {
  background-color: vars.$footerColor;
  font-family: 'Avenir', sans-serif;
  font-size: 0.7em;
  width: 100%;

  .footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: vars.$gutter;
    
    .footer-container-image {
      height: 8em;
    }
  }

  .footer-copyright {
    text-align: center;
    font-size: 0.7em;
    padding: 0.5rem;
  }

}

@media (max-width: 700px) {
  .footer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .footer-container-image {
      display: none;
    }
    
    .footer-link {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 0.4rem;
    }

    a {
      padding: 0.8rem;
    }
  }
  
}
