@use 'src/styles/vars';

.footer {
  background-image: url("../../assets/images/FooterPatounes.png");
  background-color: vars.$backgroundColor;
  font-family: vars.$avenir;
  font-size: 0.7em;
  width: 100%;
  height: 30vh;
  position: relative;

  .footer-container {
    display: flex;
    flex-direction: column;
    line-height: 3rem;
    position: absolute;
    right: 13%;
    bottom: 15%;

    .footer-link {
      &:hover {
        font-weight: 800;
        color: vars.$outlineColor;
      }
    }
  }

  .footer-copyright {
    position: absolute;
    left: 39%;
    bottom: 1%;
    font-size: 1.3rem;
    padding: 0.5rem;
  }
}

@media (max-width: 1500px) {
  .footer {
    position: relative;
    bottom: 0;
    height: 40vh;

    .footer-container {
      position: absolute;
      right: 2%;
    }

    .footer-copyright {
      position: absolute;
      left: 30%;
    }
  }

}



@media (max-width: 800px) {
  .footer {
    display: flex;
    justify-content: center;

    .footer-container {
      display: none;
    }

    .footer-copyright {
      position: static;
      display: flex;
      justify-content: center;
      align-items: flex-end;
    }
  }
}
