@use 'src/styles/vars';

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: vars.$gutter * 3;
  background-color: vars.$navColor;
  font-family: 'Avenir', sans-serif;
  font-size: 0.8em;

  .menu-link {
    display: flex;
    align-items: center;
    padding-left: vars.$gutter;

    img {
      height: vars.$gutter +1.5;
    }

    ul {
      display: flex;
      margin: vars.$gutter;

      .nav-item {
        padding: 0 vars.$gutter - 1;
        margin: 0 vars.$gutter -1;
      }
    }
  }

  .menu-login {
    display: flex;
    justify-content: flex-end;

    ul {
      display: flex;
      margin-right: vars.$gutter;

      .nav-item {
        padding: 0 vars.$gutter - 1.5;
      }
    }
  }

  .menu-login--mobile {
    display: none;
  }

  .menu--link--mobile {
    display: none;
  }

}

@media (max-width: 700px) {
  .nav {
    width: 100%;
    display: flex;
    justify-content: space-between;

    img {
      height: vars.$gutter +1.5;
    }

    .logo-mobile {
      display: block;
      margin-left: vars.$gutter;
    }

    .menu-link {
      display: none;
    }
    
    .menu-login {
      display: none;
    }

    .menu--link--mobile {
      display: flex;
    }

    .link-mobile {
      display: flex;
      flex-direction: column;
    }

    .menu-item { 
      padding: 1rem;
      display: flex;
      flex-direction: column;
    }

    /* Individual item */
    .bm-item {
      display: flex;
      flex-direction: column;
  
    /* Our sidebar item styling */
      text-decoration: none;
      margin-bottom: 10px;
      color: #d1d1d1;
      transition: color 0.2s;
    }
  
    /* Change color on hover */
    .bm-item:hover {
      color: white;
    }
  
    /* The rest copied directly from react-burger-menu docs */
  
    /* Position and sizing of burger button */
    .bm-burger-button {
      position: fixed;
      width: 36px;
      height: 30px;
      right: 36px;
      top: 36px;
    }
  
    /* Color/shape of burger icon bars */
    .bm-burger-bars {
      background: vars.$footerColor;
    }

    /* Position and sizing of clickable cross button */
    .bm-cross-button {
      height: 24px;
      width: 24px;
    }

    /* Color/shape of close button cross */
    .bm-cross {
      background: #bdc3c7;
    }

    /* General sidebar styles */
    .bm-menu {
      background: vars.$navColorMobile;
      padding: 2.5em 1.5em 0;
      font-size: 1.15em;
    }

    /* Morph shape necessary with bubble or elastic */
    .bm-morph-shape {
      fill: #373a47;
    }

    /* Wrapper for item list */
    .bm-item-list {
      color: vars.$secondaryTextColor;
    }

    /* Styling of overlay */
    .bm-overlay {
      background: rgba(0, 0, 0, 0.3);
    }
  }
  
}
