@use 'src/styles/vars';

.adoption {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1em;
  
  width: 100%;
  background-color: vars.$backgroundColor;
  background: rgba(246, 244, 210, 0.5);
  //background-image: radial-gradient(ellipse at 0% 0%,  #cbdfbd, #f6f4d2 );

  h1 {
    text-align: center;
    font-size: 5rem;
  }

  .cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 1rem;

    .card-link {
      .card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: stretch;
        width: 250px;
        border: solid 2px vars.$footerColor;
        box-shadow: 5px 5px 1px 1px rgba(0, 0, 0, .2);
        background-color: #fff;
        border-radius: 2rem;
        margin: vars.$gutter;
        font-family: 'Avenir', sans-serif;
        font-size: 1.2rem;
        padding: 1em;
      
        h3 {
          text-align: center;
          height: 20%;
          font-family: 'Monsieur-Pomme', sans-serif;
          font-size: 4rem;
          margin: 1rem 0;
        }

        h4 {
          line-height: 2rem;
        }
  
        .card-image {
          height: 180px;
          width: 100%;
          padding: 0.5em;
          object-fit: cover;
        }
    }
    }
  }
}
