@use 'src/styles/vars';

.adoption {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1em;
  width: 100%;
  background-color: vars.$backgroundColor;
  margin-top: 5rem;

  h1 {
    text-align: center;
    font-size: 5rem;
    color: vars.$footerColor;
  }

  .filters {
    width: 80%;
    margin-top: 1.5rem;

    select {
      background-color: vars.$footerColor;
      padding: 0.5rem 1rem;
      color: white;
      border-radius: 0.3em;
      font-size: 1.2rem;
      margin-bottom: 1rem;
      width: 100%;
    }  
  }

  p {
    font-family: vars.$avenir;
    width: 60%;
    text-align: center;
    margin-top: 8rem;
  }

  .cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 1rem;

    .card-link {
      transform-origin: 0 0;
      transition: vars.$transition;

      .card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: stretch;
        width: 280px;
        border: solid 2px vars.$footerColor;
        box-shadow: vars.$cardShadow;
        background-color: vars.$secondaryTextColor;
        border-radius: 2rem;
        margin: vars.$gutter;
        font-family: vars.$avenir;
        font-size: 1.2rem;
        overflow: hidden;
      
        h3 {
          text-align: center;
          height: 20%;
          font-family: vars.$pomme;
          font-size: 4rem;
          margin: 1rem;
        }

        h4 {
          line-height: vars.$lineHeight;
          margin: 0 1rem;

          &:last-of-type {
            margin-bottom: 0.5rem;
          }
        }
  
        .card-image {
          height: 180px;
          width: 100%;
          object-fit: cover;
        }
      }

      &:hover {
        transform: scale(1.1);
      }
    }
  }
}

@media (min-width: 700px) {
  .adoption {
    .filters {
      display: flex;
      justify-content: space-evenly;

      select {
        margin-bottom: unset;
        width: unset;
      }  
    }
  }
}
